.section-title {
    font-size: 1.2rem;
    font-family: "Montserrat Regular";
    text-transform: uppercase;
    margin-bottom: 40px;
}

.separator {
    margin: 0 auto;
    width: 93px;
    height: 18px;
    background-image: url("icons/icons/separator.png");
    margin-bottom: 40px;
}

.history-paragraph {
    width: 50vw;
    text-align: center;
}
