doctype html
html(lang="fr")
    head
        link(rel="stylesheet", href="/style.css", media="screen", charset="utf-8")/
    body
        header
            img(src="icons/icons/logo.png")
            menu
                ul
                    li Home
                    li Portfolio
                    li Services
                    li Clients
                    li Contacts
        section.section.big-section#presentation
            .centered-bloc
                h2.little-title Design / Development / Photography
                h1.big-title Creativity have new level
                a.btn-presentation(href="/") Preview
                a.btn-presentation(href="/") Get theme
        section.section.little-section#history
            .centered-bloc
                h3.section-title Little history
                .separator
                p.history-paragraph.
                    Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
                    Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. 
                    Donec rutrum congue leo eget malesuada. Vivamus suscipit tortor eget felis porttitor volutpat. 
                    Vivamus suscipit tortor eget felis porttitor volutpat. Cras ultricies ligula sed magna dictum porta. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        section.section.little-section#showcase
            .showcase-part: .showcase-part-description
            .showcase-part: .showcase-part-description
            .showcase-part: .showcase-part-description
            .showcase-part: .showcase-part-description
            .showcase-part: .showcase-part-description
            .showcase-part: .showcase-part-description
        section.section.big-section
